#hg-nav{
  position: fixed;
  top: 0;
  z-index: 2;
  background: $nav-bar-bg;
  width: 100%;
  height: $nav-bar-height;

  .logo{
    width: 60px;
    height: 24px;
    padding: 24px 48px 24px 24px;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  >ul{
    @extend .primary-navigation;
    display: inline-block;
    vertical-align: top;
    line-height: $nav-bar-height;

    >li{
      display: inline-block;
      color: $nav-bar-color;
      padding: 0 24px;
      cursor: pointer;
      position: relative;

      &:hover, &.opened{
        background: $nav-bar-color;
        color: $nav-bar-bg;
      }

      ul{
        @extend .secondary-navigation;
        color: initial;
        display: none;
        background: #fff;
        padding: 12px 0;

        li{
          padding: 0 24px;
          white-space: nowrap;

          &:hover{
            background: $light-gray;
            color: $magenta;
          }
        }
      }

      &.opened{
        ul{
          position: absolute;
          display: block;
          top: 100%;
          left: 0;
        }
      }
    }
  }
}